:root {
    --color1: #00303b; /* #7B542F; */
    --color2: #ff7777; /* #B6771D; */
    --color3: #ffce96; /* #FF9D00; */
    --color4: #f1f2da; /* #FFCF71; */
}

.bg-1 {
  background-color: var(--color1);
}

.bg-2 {
  background-color: var(--color2);
}

.bg-3 {
  background-color: var(--color3);
}

.bg-4 {
  background-color: var(--color4);
}

.p-1 {
  color: var(--color1);
}

.p-2 {
  color: var(--color2);
}

.p-3 {
  color: var(--color3);
}

.p-4 {
  color: var(--color4);
}
