.bg-p-1 {
  background-color: #264653; /* primary color 1 */
}

.text-p-1 {
  color: #264653; /* primary color 1 */
}

.bg-p-2 {
  background-color: #2A9D8F; /* primary color 2 */
}

.text-p-2 {
  color: #2A9D8F; /* primary color 2 */
}
